body {
	background-image: url("background.jpg");
	background-repeat: repeat-x;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 100%;
	color: #002147;
}

h1 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 2em;
}

p {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	
}

#top {
	position: relative;
}

#logo {
	position: relative;
	float: left;
	height: 90px;
	width: 140px;
	border: 5px solid blue;
}

#login {
	position: relative;
	float: left;
	height: 90px;
	width: 550px;
	padding: 0px 0px;
	border: 5px solid blue;
}

#middle { 
	position: relative;
	clear: left;
}

#decklist { 
	position: relative;
	float: left;
	border: 5px solid blue;
}

#deckinfo {
	position: relative;
	float: left;
	border: 5px solid blue;
}

.line{
	padding: 1px;
}

.box{
	border-style: solid;
	border-color: #000;
}

.image{
	position: absolute;
	top: 0px;
	left: 0px;
}